@font-face {
    font-family: 'Poppins';
    src: url('../fonts//poppins.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
.container-blog{
    background:linear-gradient(to right, #000, #070707);
    width:calc(100vw - 15px);
    height:100vh;
    display:flex;
    justify-content: flex-start;
    align-items: center;

    flex-direction: column;
}
img{
    width:30%;
    height:auto;
    object-fit: contain;
}
.Blog{
    border-radius:10px 0 10px 0;
width:100%;
font-size:100px;
color:#00FF99;
FONT-WEIGHT:900;
letter-spacing:5px;
}
p{
    min-width:0;
    font-size:30px;
    color:rgb(231, 231, 231);
    font-family:"Poppins";
    font-weight:800;
}
.fluid{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    min-height:600px;
    width: 100%;
}
.coming{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media only screen and (max-width:1650px){
    .container-blog{
        width:100vw;
    }
}
@media only screen and (max-width:1000px){

    .Blog{
        padding-top:150px;
    }
}
@media only screen and (max-height:750px){
    .Blog{
        height:calc(20% - 150px)
    }
    .fluid{
        height:80%;
    }
}
@media only screen and (max-width:800px){
    .Blog{
        display:flex;
align-items: center;
justify-content: center;
        font-size:60px;
        letter-spacing: 2px;
    }
}