@font-face {
    font-family: 'Poppins';
    src: url('../fonts//poppins.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
#Blog{
    width:100%;
    min-height:100vh;
}
.container-blog{
    display:flex;
    flex-direction: column;
    min-height:100vh;
width:100%;
}
img{
    width:30%;
    height:auto;
    object-fit: contain;
}
.Blog{
    border-radius:10px 0 10px 0;
width:100%;
min-height:25vh;
font-size:100px;
color:#00FF99;
FONT-WEIGHT:900;
letter-spacing:5px;
}
.fluid p{
    min-width:0;
    font-size:60px;
    color:#00FF99;
    font-family:"Poppins";
    letter-spacing: 6px;
    font-weight:900 !important;
}
.footer{
    width:100%;
    height:15vh;
    background:rgb(14, 14, 14)
}
.fluid{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    min-height:60vh;
    width: 100%;
}
.coming{
    display: flex;
    height:100%;
    width:100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media only screen and (max-width:1650px){

}
@media only screen and (max-width:1000px){
    .Blog{
        padding-top:150px;
    }
}
@media only screen and (max-height:750px){
    .Blog{
        height:calc(20% - 150px)
    }
    .fluid{
        height:80%;
    }
}
@media only screen and (max-width:800px){
    .Blog{
        display:flex;
align-items: center;
justify-content: center;
        font-size:60px;
        letter-spacing: 2px;
    }
}